page-detail {
    .category {
        max-height: 25vh;
        width: auto;
        margin: auto;
        display: block;
        padding-top: 10px;     
    }

    .sub-header{
        font-size: 70%;
        font-style: italic;
        color: #303030;
        display: block;
        padding-top: 4px !important;
    }

    .card-header-md
    {
        padding-top: 8px !important;
        padding-bottom: 6px !important;
    }
}
